body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

#mapContainer {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

:global(#root ) {
    width: 100%;
    height: 100%;
}

:global(.sGis-balloon) {
    border: none;
}

:global(.sGis-balloon:before) {
    display: none;
}

:global(.sGis-balloon) > div {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11);
    padding: 0;
}

.popup {
    min-height: 316px;
    max-height: calc(100% - 64px);
    position: absolute;
    top: 32px;
    left: 32px;
    width: 400px;
    overflow: auto;
    background-color: #fff;
}

@media (max-height: 674px) {
    .popup {
        min-height: 0;
    }
}

.btnGroup {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 24px;
    top: 0;
    right: 15px;
    position: absolute;
}

.minimizeBtn, .closeBtn {
    font-weight: bold;
    font-size: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50%;
    cursor: pointer;
    color: #9b9b9b;
    transition: all 0.4s ease;
}

.minimizeBtn:hover, .closeBtn:hover {
    color: #888888;
}

.minimizeBtn {
    opacity: 0;
}

.closeBtn {
    font-size: 14px;
}

.header {
    position: relative;
    padding: 20px 30px;
    border-bottom: 1px solid #ededed;
}

.headerTitle {
    padding-right: 30px;
    font-size: 20px;
    margin-bottom: 15px;
}

.headerSubtitle {
    font-size: 14px;
}

.row {
    display: flex;
    padding: 15px 20px;
    margin: 0 20px;
    border-bottom: 1px solid #ededed;
}

.row:last-child {
    padding: 15px 20px 35px 20px;
    border-bottom: none;
}

.silverCircle {
    top: 5px;
    left: -20px;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #b9b9b9;
    border-radius: 50%;
}

.timeIcon {
    top: 4px;
    left: -18px;
    position: absolute;
    width: 9px;
    height: 9px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCA5IDkiPiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGNpcmNsZSBjeD0iNC41IiBjeT0iNC41IiByPSI0LjUiIGZpbGw9IiM4RUQwNDAiLz4gICAgICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik00IDFoMXY0SDR6Ii8+ICAgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNNCA0aDN2MUg0eiIvPiAgICA8L2c+PC9zdmc+);
}

.address {
    position: relative;
    color: #1a73a0;
}

.periodicity {
    position: relative;
}

.popup::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background: #fff;
}

.popup::-webkit-scrollbar-thumb {
    min-width: 7.692em;
    min-height: 7.692em;
    background: #e6e6e6;
    border-radius: 12px;
    border: 6px solid #fff;
}

.popup::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7;
}

.popup::-webkit-scrollbar-thumb:active {
    background: #cdcdcd;
}

.zoomPanel {
    width: 36px;
    text-align: center;
    top: 15px;
    right: 15px;
    position: absolute;
}

.zoomIn {
    display: inline-block;
    color: #737066;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #98958B;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}

.zoomOut {
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: #737066;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #98958B;
    font-size: 24px;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.zoomOut:before {
    position: absolute;
    display: block;
    background-color: #98958B;
    content: '';
    width: 12px;
    height: 4px;
    top: -6px;
    left: 6px;
}

