body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

#mapContainer {
    margin: 0;
    width: 100%;
    height: 100%;
}

:global(#root ) {
    width: 100%;
    height: 100%;
}

:global(.sGis-balloon) {
    border: none;
    border-radius: 0;
}

:global(.sGis-balloon) > div {
    border: none;
    border-radius: 0;
    padding: 0;
}

.popup {
    width: 400px;
}

.header {
    color: red;
}